# Backend Configuration
# Port on the host machine to map to container port 8000
BACKEND_PORT=8888
# Directory for temporary file storage
UPLOAD_DIR=/app/temp
# CORS: Comma separated list of allowing origins. Use "*" for all (but careful with credentials).
# Example: https://pizza.sarthakvarshney.in,http://localhost:3000
ALLOWED_ORIGINS=*

# Frontend Configuration
# Port on the host machine to map to container port 3000
FRONTEND_PORT=3333

# API URL
# IMPORTANT: For Local Development, use http://localhost:8888
# IMPORTANT: For Production/Server, use https://api-yourdomain.com
NEXT_PUBLIC_API_URL=http://localhost:8888
