fastapi
uvicorn
python-multipart
pypdf
pdf2image
Pillow
docx2pdf
pandas
openpyxl

pikepdf
img2pdf
ocrmypdf
aiofiles
python-docx
pdf2docx
pytesseract
pdfplumber
python-pptx
feedparser
requests
pdfminer.six
pyhanko[crypto]>=0.25.0
cryptography>=42.0.0
endesive
nest_asyncio

urllib3>=2.6.3
reportlab


pymupdf
img2pdf
